@mixin headerExtraBoldStyle {
    font-family: Poppins;
    font-weight: 800;
    color: black;
}
@mixin headerBoldStyle {
    font-family: Poppins;
    font-weight: 700;
    color: black;
}
@mixin contentBoldStyle {
    font-family: Quicksand;
    font-weight: 700;
    color: black;
}
@mixin contentRegStyle {
    font-family: Quicksand;
    font-weight: 400;
    color: black;
}
@mixin buttonStyle {
    @include contentBoldStyle();
    border: none;
    border-radius: 1vh;
}
@mixin marginCenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
}

header{
    nav{
        a.logo{
            @include headerExtraBoldStyle();
            font-size: 1.5vw;

            span{
                color: #827dff;
            }
        }
        ul{
            li{
                a.nav-link{
                    @include headerBoldStyle();
                    font-size: 1.2vw;
                    color: #827dff;
                }
            }
        }
    }
    .offcanvas{
        .offcanvas-header{
            h5{
                @include headerBoldStyle();
                font-size: 2vw;
                margin: 0;

                span{
                    color: #827dff;
                }
                span.username{
                    @include contentRegStyle();
                    color: black;
                }
                p{
                    font-size: 1.4vw;
                    color: #827dff;
                }
            }
        }
        .offcanvas-body{
            form{
                label{
                    @include contentBoldStyle();
                }
                input{
                    @include contentRegStyle();
                }
                select{
                    @include contentBoldStyle();
                }
                button{
                    margin-top: 4vh;
                    margin-right: 2vw;
                    padding: 1.7vh;
                    @include buttonStyle();
                }
                button.focus{
                    background-color: #ffb917;
                    color: white;
                }
                button.notFocus{
                    @include contentRegStyle();
                    background-color: white;
                }
                p{
                    @include contentBoldStyle();
                    color: red;
                }
            }
            button.account{
                @include buttonStyle();
                padding: 2vh;
                background-color: #ffb917;
                color: white;
            }
        }
    }
}

article{
    section.hero{
        background-image: url('./photos/bus.png');
        background-repeat: no-repeat;
        background-position: -25% 55%;
        background-size: 65%;

        .image{
            height: 80vh;
        }
        .title{
            margin-bottom: 8vh;
            h1{
                @include headerBoldStyle();
                line-height: 9vh;
                font-size: 3.2vw;
                margin-bottom: 6vh;

                span{
                    color: #827dff;
                }
            }
            a{
                @include buttonStyle();
                background-color: #ffb917;
                padding: 3vh;
                font-size: 1.4vw;
                color: white;
            }
        }
    }
    section.admin{
        .sidebar{
            li.options{
                margin-top: 2vh;

                a{
                    @include contentBoldStyle();
                }
            }
        }
        .otherbar{
            .title{
                h1{
                    @include headerBoldStyle();
                    margin-bottom: 7vh;
                }
            }
            .nosched{
                img{
                    height: 15vh;
                    @include marginCenter();
                    margin-bottom: 2vh;
                }
                p{
                    @include contentBoldStyle();
                    text-align: center;
                    font-size: 1.5vw;
                }
            }
            .profileTitle{
                h5{
                    @include contentBoldStyle();
                }
            }
            .profileInfo{
                p{
                    @include contentRegStyle();
                }
            }
            .button{
                margin-bottom: 7vh;

                button{
                    @include contentBoldStyle();
                    background-color: #ffb917;
                    border: none;
                    color: white;
                    margin-right: 2vw;
                }
            }
            .bookCard{
                border: 1px solid #827dff;
                border-radius: 2vh;
                padding: 4vh;
                margin-bottom: 5vh;

                &:hover{
                    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
                }
                .company{
                    h5{
                        @include headerBoldStyle();
                        font-size: 1.7vw
                    }
                }
                .route{
                    p{
                        @include contentBoldStyle();
                        font-size: 1.4vw;

                        span{
                            @include contentRegStyle();
                        }
                        i{
                            margin-left: 2vw;
                            margin-right: 2vw;
                        }
                    }
                }
                .price{
                    p{
                        text-align: center;
                        @include contentBoldStyle();
                        font-size: 1.4vw;
                    }
                }
                .seats{
                    p{
                        @include contentBoldStyle();
                        font-size: 1.1vw;

                        span{
                            @include contentRegStyle();
                        }
                    }
                }
                .bookNow{
                    button{
                        @include buttonStyle();
                        padding: 2vh;
                        color: white;
                        background-color: #ffb917;
                    }
                }
            }
        }
        .modal{
            .modal-header{
                h5{
                    @include headerBoldStyle();

                    span{
                        color: #827dff;
                    }
                }
            }
            .modal-footer{
                button{
                    @include contentBoldStyle();
                    background-color: #ffb917;
                    padding: 1.5vh;
                    border: none;
                    color: white;
                    margin-right: 2vw;
                }
            }
        }
    }
    section.publicSchedule{
        .title{
            margin-top: 2vh;
            margin-bottom: 4vh;
            h1{
                @include headerBoldStyle();
            }
        }
        .bookCard{
            border: 1px solid #827dff;
            border-radius: 2vh;
            padding: 4vh;
            margin-bottom: 5vh;

            &:hover{
                box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
            }
            .company{
                h5{
                    @include headerBoldStyle();
                    font-size: 1.7vw
                }
            }
            .route{
                p{
                    @include contentBoldStyle();
                    font-size: 1.4vw;

                    span{
                        @include contentRegStyle();
                    }
                    i{
                        margin-left: 2vw;
                        margin-right: 2vw;
                    }
                }
            }
            .price{
                p{
                    text-align: center;
                    @include contentBoldStyle();
                    font-size: 1.4vw;
                }
            }
            .seats{
                p{
                    @include contentBoldStyle();
                    font-size: 1.1vw;

                    span{
                        @include contentRegStyle();
                    }
                }
            }
            .button{
                button{
                    @include buttonStyle();
                    padding: 1.5vh;
                    background-color: #ffb917;
                    color: white;
                }
            }
        }
        .form{
            margin-bottom: 5vh;

            form{
                button{
                    @include buttonStyle();
                    font-size: 0.9vw;
                    padding: 1.5vh;
                    color: white;
                    background-color: #ffb917;
                    margin-right: 2vw;
                }
                .input-group{
                    label{
                        @include contentBoldStyle();
                        background-color: #827dff;
                        color: white;
                    }
                    input,select{
                        @include contentRegStyle();
                    }
                }
            }
        }
    }
    section.passenger{
        .sidebar{
            li.options{
                margin-top: 2vh;

                a{
                    @include contentBoldStyle();
                }
            }
        }
        .otherbar{
            .title{
                h1{
                    @include headerBoldStyle();
                    margin-bottom: 7vh;
                }
            }
            .profileTitle{
                h5{
                    @include contentBoldStyle();
                }
            }
            .profileInfo{
                p{
                    @include contentRegStyle();
                }
            }
            .bookCard{
                border: 1px solid #827dff;
                border-radius: 2vh;
                padding: 4vh;
                margin-bottom: 5vh;

                &:hover{
                    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
                }
                .company{
                    h5{
                        @include headerBoldStyle();
                        font-size: 1.7vw
                    }
                }
                .route{
                    p{
                        @include contentBoldStyle();
                        font-size: 1.4vw;

                        span{
                            @include contentRegStyle();
                        }
                        i{
                            margin-left: 2vw;
                            margin-right: 2vw;
                        }
                    }
                }
                .price{
                    p{
                        text-align: center;
                        @include contentBoldStyle();
                        font-size: 1.4vw;
                    }
                }
                .seats{
                    p{
                        @include contentBoldStyle();
                        font-size: 1.1vw;

                        span{
                            @include contentRegStyle();
                        }
                    }
                }
                .bookNow{
                    button{
                        @include buttonStyle();
                        padding: 2vh;
                        color: white;
                        background-color: #ffb917;
                    }
                }
                .modal{
                    .modal-header{
                        h5{
                            @include headerBoldStyle();
                        }
                    }
                    .modal-body{
                        .seatMap{
                            .seats{
                                margin-bottom: 1vh;
                                .seat{
                                    display: inline;
                                    border: 1px solid black;
                                    margin-right: 1vw;

                                    input{
                                        margin: 0.7vh;
                                    }
                                }
                            }
                            h5{
                                @include contentBoldStyle();
                            }
                        }
                        .seatForm{
                            .titleMenu{
                                h6,h5{
                                    @include contentBoldStyle();
                                }
                            }
                            .passForm{
                                .form-floating,.form-check{
                                    label{
                                        @include contentBoldStyle();
                                    }
                                }
                            }
                            .cfrmbtn{
                                button{
                                    @include buttonStyle();
                                    padding: 1.4vh;
                                    color: white;
                                    background-color: #ffb917;
                                }
                            }
                            .seatPrice{
                                h6{
                                    @include contentBoldStyle();

                                    span{
                                        @include contentRegStyle();
                                    }
                                }
                            }
                        }
                    }
                    .modal-footer{
                        button{
                            @include contentBoldStyle();
                            background-color: #ffb917;
                            padding: 1.5vh;
                            border: none;
                            color: white;
                            margin-right: 2vw;
                        }
                    }
                }
                .qr{
                    img{
                        height: 24vh;
                    }
                }
                .passengers{
                    
                    h5{
                        @include contentBoldStyle();
                    }
                    .passenger{
                        margin-bottom: 1vh;

                        p{
                            @include contentRegStyle();

                            span{
                                margin-right: 2vw;
                            }
                        }
                    }
                }
                .dlBtn{
                    button{
                        @include buttonStyle();
                        padding: 2vh;
                        color: white;
                        background-color: #ffb917;
                    }
                }
            }
            .form{
                margin-bottom: 5vh;

                form{
                    button{
                        @include buttonStyle();
                        font-size: 0.9vw;
                        padding: 1.5vh;
                        color: white;
                        background-color: #ffb917;
                        margin-right: 2vw;
                    }
                    .input-group{
                        label{
                            @include contentBoldStyle();
                            background-color: #827dff;
                            color: white;
                        }
                        input,select{
                            @include contentRegStyle();
                        }
                    }
                }
            }
        }
    }
    section.payment{
        .title{
            h1{
                @include headerBoldStyle();
                margin-top: 3vh;
                font-size: 2.5vw;
                margin-bottom: 4vh;
            }
        }
        .modes{
            .accordion-item{
                border: 1px solid #827dff;
                margin-bottom: 3vh;

                &:hover{
                    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
                }
                h2.accordion-header{
                    button{
                        @include contentBoldStyle();

                        span{
                            @include contentRegStyle();
                            margin-left: 1vw;
                        }
                    }
                }
                .accordion-body{
                    h5{
                        @include contentBoldStyle();

                        span.discP{
                            margin-left: 1vw;
                        }
                        span.totalP{
                            text-decoration: line-through;
                            @include contentRegStyle();
                            margin-left: 1vw;
                        }
                    }
                    .form-floating{
                        label{
                            @include contentBoldStyle();
                        }
                        input{
                            @include contentRegStyle();
                        }
                    }
                    .cardImg{
                        img{
                            height: 8vh;
                            @include marginCenter();
                        }
                    }
                    .paybtn{
                        button{
                            @include buttonStyle();
                            padding: 2.5vh;
                            background-color: #ffb917;
                            color: white;
                        }
                    }
                    .modal{
                        .modal-header{
                            h5{
                                @include headerBoldStyle();
                            }
                        }
                        .modal-body{
                            h3{
                                @include headerBoldStyle();
                            }
                            h5{
                                @include headerBoldStyle();
                                font-weight: 600;
                            }
                            p{
                                @include contentRegStyle();
                            }
                        }
                        .modal-footer{
                            button{
                                @include contentBoldStyle();
                                background-color: #ffb917;
                                padding: 1.5vh;
                                border: none;
                                color: white;
                                margin-right: 2vw;
                            }
                        }
                    }
                }
            }
        }
        .bookDetail{
            margin-bottom: 5vh;

            .bookCard{
                border: 1px solid #827dff;
                padding:4vh;
                margin: 0;
                &:hover{
                    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
                }
                .title{
                    h4{
                        @include headerBoldStyle();
                        color: #827dff;
                    }
                }
                hr{
                    margin: 0;
                    padding: 0;
                }
                .depArrPass{
                    margin-top: 2.5vh;
                    margin-bottom: 2.5vh;

                    .icon{
                        i{
                            font-size: 4vh;
                            color: #827dff;
                        }
                    }
                    .detail{
                        h5,h4{
                            @include contentBoldStyle();

                            span{
                                @include contentRegStyle();
                            }
                        }
                        p{
                            @include contentRegStyle();
                        }
                    }
                    .passCard{
                        padding-top: 2vh;
                        padding-bottom: 2vh;
                    }
                }
            }
        }
    }
    section.success{
        .qr{
            margin-bottom: 9vh;
            height: 70vh;
            img{
                @include marginCenter();
                height: 50vh;
            }
        }
        .details{
            h1{
                @include headerBoldStyle();
                margin-top: 3vh;
                font-size: 4vw;
                margin-bottom: 4vh;
                color: #827dff;
            }
            h5.receipt{
                @include headerBoldStyle();
                font-weight: 600;

                span{
                    @include contentRegStyle();
                }
            }
            .busCard{
                padding: 2vh;

                .bus{
                    border: 1px solid #827dff;
                    padding: 3vh;
                    margin-bottom: 3vh;
                    
                    &:hover{
                        box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
                    }
                    .menu{
                        margin-top: 1vh;
                        margin-bottom: 1vh;

                        h5{
                            @include headerBoldStyle();
                            font-weight: 600;
                        }
                        h3{
                            @include headerBoldStyle();
                        }
                    }
                    .value{
                        margin-top: 1vh;
                        margin-bottom: 1vh;

                        p{
                            @include contentRegStyle();
                            font-size: 1.3vw;
                        }
                    }
                }
                
            }
            button.prntBtn{
                padding: 2vh;
                @include buttonStyle();
                color: white;
                background-color: #ffb917;
                margin-right: 2vw;
            }
        }
        .passenger{
            margin-bottom: 20vh;
            .title{
                margin-bottom: 5vh;

                h2{
                    @include headerBoldStyle();
                }
            }
            .menu{
                margin-bottom: 2vh;
                h4{
                    @include headerBoldStyle();
                    font-weight: 600;
                    text-align: center;

                    span{
                        margin-left: 1.5vw;
                        @include contentRegStyle();
                        text-decoration: line-through;
                    }
                }
            }
            .value{
                padding-top: 1.5vh;
                padding-bottom: 1.5vh;
                p{
                    @include contentRegStyle();
                    font-size: 1.6vw;
                    text-align: center;
                }
            }
            .passCard{
                &:hover{
                    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
                }
            }
            .price{
                padding-top: 1.5vh;
                padding-bottom: 1.5vh;

                h4{
                    @include headerBoldStyle();
                    font-weight: 600;
                    text-align: center;

                    span{
                        margin-left: 1.5vw;
                        @include contentRegStyle();
                        text-decoration: line-through;
                    }
                }
            }
        }
    }
    section.error{
        .img{
            img{
                height: 75vh;
                @include marginCenter();
            }
            button{
                margin-top: 3vh;
                @include marginCenter();
                @include buttonStyle();
                padding: 1.5vh;
                color: white;
                background-color: #ffb917;
            }
        }
    }
}
aside.contactUs{
    position: relative;

    button.contactBtn{
        position: absolute;
        width: 50px;
        height: 50px;
        right: 4vw;
        bottom: -7vh;
        background-color: #827dff;
        border: none;
        border-radius: 50%;
        
        i{
            color: white;
            font-size: 1.5vw;
        }
    }
    .offcanvas{
        .offcanvas-header{
            h5{
                @include headerBoldStyle();
                font-size: 2vw;
                margin: 0;

                span{
                    color: #827dff;
                }
            }
        }
    }
}